<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yue.ums.partner.client.PartnerInfoMapper">
  <resultMap id="BaseResultMap" type="com.yue.ums.partner.model.PartnerInfo">
    <id column="partner_id" jdbcType="INTEGER" property="partnerId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="member_num" jdbcType="INTEGER" property="memberNum" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="telphone" jdbcType="CHAR" property="telphone" />
    <result column="mobile" jdbcType="CHAR" property="mobile" />
    <result column="fax" jdbcType="CHAR" property="fax" />
    <result column="post" jdbcType="CHAR" property="post" />
    <result column="contact_address" jdbcType="VARCHAR" property="contactAddress" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="corporation_name" jdbcType="VARCHAR" property="corporationName" />
    <result column="idcard_num" jdbcType="CHAR" property="idcardNum" />
    <result column="idcard_pic_front" jdbcType="VARCHAR" property="idcardPicFront" />
    <result column="license_num" jdbcType="VARCHAR" property="licenseNum" />
    <result column="license_pic" jdbcType="VARCHAR" property="licensePic" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="is_verified" jdbcType="BIT" property="isVerified" />
    <result column="is_active" jdbcType="BIT" property="isActive" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="control_by_org" jdbcType="INTEGER" property="controlByOrg" />
    <result column="group" jdbcType="INTEGER" property="group" />
    <result column="area_id" jdbcType="INTEGER" property="areaId" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="limit_swich" jdbcType="INTEGER" property="limitSwich" />
    <result column="referee_by" jdbcType="INTEGER" property="refereeBy" />
    <result column="reject_info" jdbcType="VARCHAR" property="rejectInfo" />
    <result column="idcard_pic_back" jdbcType="VARCHAR" property="idcardPicBack" />
  </resultMap>
  <sql id="Base_Column_List">
    partner_id, name, short_name, member_num, email, telphone, mobile, fax, post, contact_address, 
    contact_name, create_time, create_by, update_time, update_by, note, corporation_name, 
    idcard_num, idcard_pic_front, license_num, license_pic, logo, is_verified, is_active, 
    status, control_by_org, group, area_id, admin_id, limit_swich, referee_by, reject_info, 
    idcard_pic_back
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from partner_info
    where partner_id = #{partnerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from partner_info
    where partner_id = #{partnerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yue.ums.partner.model.PartnerInfo">
    insert into partner_info (partner_id, name, short_name, 
      member_num, email, telphone, 
      mobile, fax, post, contact_address, 
      contact_name, create_time, create_by, 
      update_time, update_by, note, 
      corporation_name, idcard_num, idcard_pic_front, 
      license_num, license_pic, logo, 
      is_verified, is_active, status, 
      control_by_org, group, area_id, 
      admin_id, limit_swich, referee_by, 
      reject_info, idcard_pic_back)
    values (#{partnerId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, 
      #{memberNum,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{telphone,jdbcType=CHAR}, 
      #{mobile,jdbcType=CHAR}, #{fax,jdbcType=CHAR}, #{post,jdbcType=CHAR}, #{contactAddress,jdbcType=VARCHAR}, 
      #{contactName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{note,jdbcType=VARCHAR}, 
      #{corporationName,jdbcType=VARCHAR}, #{idcardNum,jdbcType=CHAR}, #{idcardPicFront,jdbcType=VARCHAR}, 
      #{licenseNum,jdbcType=VARCHAR}, #{licensePic,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, 
      #{isVerified,jdbcType=BIT}, #{isActive,jdbcType=BIT}, #{status,jdbcType=INTEGER}, 
      #{controlByOrg,jdbcType=INTEGER}, #{group,jdbcType=INTEGER}, #{areaId,jdbcType=INTEGER}, 
      #{adminId,jdbcType=INTEGER}, #{limitSwich,jdbcType=INTEGER}, #{refereeBy,jdbcType=INTEGER}, 
      #{rejectInfo,jdbcType=VARCHAR}, #{idcardPicBack,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yue.ums.partner.model.PartnerInfo">
    insert into partner_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="partnerId != null">
        partner_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="shortName != null">
        short_name,
      </if>
      <if test="memberNum != null">
        member_num,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="telphone != null">
        telphone,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="fax != null">
        fax,
      </if>
      <if test="post != null">
        post,
      </if>
      <if test="contactAddress != null">
        contact_address,
      </if>
      <if test="contactName != null">
        contact_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="corporationName != null">
        corporation_name,
      </if>
      <if test="idcardNum != null">
        idcard_num,
      </if>
      <if test="idcardPicFront != null">
        idcard_pic_front,
      </if>
      <if test="licenseNum != null">
        license_num,
      </if>
      <if test="licensePic != null">
        license_pic,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="isVerified != null">
        is_verified,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="controlByOrg != null">
        control_by_org,
      </if>
      <if test="group != null">
        group,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="limitSwich != null">
        limit_swich,
      </if>
      <if test="refereeBy != null">
        referee_by,
      </if>
      <if test="rejectInfo != null">
        reject_info,
      </if>
      <if test="idcardPicBack != null">
        idcard_pic_back,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="partnerId != null">
        #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="memberNum != null">
        #{memberNum,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null">
        #{telphone,jdbcType=CHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=CHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=CHAR},
      </if>
      <if test="post != null">
        #{post,jdbcType=CHAR},
      </if>
      <if test="contactAddress != null">
        #{contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null">
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="corporationName != null">
        #{corporationName,jdbcType=VARCHAR},
      </if>
      <if test="idcardNum != null">
        #{idcardNum,jdbcType=CHAR},
      </if>
      <if test="idcardPicFront != null">
        #{idcardPicFront,jdbcType=VARCHAR},
      </if>
      <if test="licenseNum != null">
        #{licenseNum,jdbcType=VARCHAR},
      </if>
      <if test="licensePic != null">
        #{licensePic,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="isVerified != null">
        #{isVerified,jdbcType=BIT},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=BIT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="controlByOrg != null">
        #{controlByOrg,jdbcType=INTEGER},
      </if>
      <if test="group != null">
        #{group,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="limitSwich != null">
        #{limitSwich,jdbcType=INTEGER},
      </if>
      <if test="refereeBy != null">
        #{refereeBy,jdbcType=INTEGER},
      </if>
      <if test="rejectInfo != null">
        #{rejectInfo,jdbcType=VARCHAR},
      </if>
      <if test="idcardPicBack != null">
        #{idcardPicBack,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yue.ums.partner.model.PartnerInfo">
    update partner_info
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="memberNum != null">
        member_num = #{memberNum,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null">
        telphone = #{telphone,jdbcType=CHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=CHAR},
      </if>
      <if test="fax != null">
        fax = #{fax,jdbcType=CHAR},
      </if>
      <if test="post != null">
        post = #{post,jdbcType=CHAR},
      </if>
      <if test="contactAddress != null">
        contact_address = #{contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null">
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="corporationName != null">
        corporation_name = #{corporationName,jdbcType=VARCHAR},
      </if>
      <if test="idcardNum != null">
        idcard_num = #{idcardNum,jdbcType=CHAR},
      </if>
      <if test="idcardPicFront != null">
        idcard_pic_front = #{idcardPicFront,jdbcType=VARCHAR},
      </if>
      <if test="licenseNum != null">
        license_num = #{licenseNum,jdbcType=VARCHAR},
      </if>
      <if test="licensePic != null">
        license_pic = #{licensePic,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="isVerified != null">
        is_verified = #{isVerified,jdbcType=BIT},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=BIT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="controlByOrg != null">
        control_by_org = #{controlByOrg,jdbcType=INTEGER},
      </if>
      <if test="group != null">
        group = #{group,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="limitSwich != null">
        limit_swich = #{limitSwich,jdbcType=INTEGER},
      </if>
      <if test="refereeBy != null">
        referee_by = #{refereeBy,jdbcType=INTEGER},
      </if>
      <if test="rejectInfo != null">
        reject_info = #{rejectInfo,jdbcType=VARCHAR},
      </if>
      <if test="idcardPicBack != null">
        idcard_pic_back = #{idcardPicBack,jdbcType=VARCHAR},
      </if>
    </set>
    where partner_id = #{partnerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yue.ums.partner.model.PartnerInfo">
    update partner_info
    set name = #{name,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      member_num = #{memberNum,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      telphone = #{telphone,jdbcType=CHAR},
      mobile = #{mobile,jdbcType=CHAR},
      fax = #{fax,jdbcType=CHAR},
      post = #{post,jdbcType=CHAR},
      contact_address = #{contactAddress,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR},
      corporation_name = #{corporationName,jdbcType=VARCHAR},
      idcard_num = #{idcardNum,jdbcType=CHAR},
      idcard_pic_front = #{idcardPicFront,jdbcType=VARCHAR},
      license_num = #{licenseNum,jdbcType=VARCHAR},
      license_pic = #{licensePic,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      is_verified = #{isVerified,jdbcType=BIT},
      is_active = #{isActive,jdbcType=BIT},
      status = #{status,jdbcType=INTEGER},
      control_by_org = #{controlByOrg,jdbcType=INTEGER},
      group = #{group,jdbcType=INTEGER},
      area_id = #{areaId,jdbcType=INTEGER},
      admin_id = #{adminId,jdbcType=INTEGER},
      limit_swich = #{limitSwich,jdbcType=INTEGER},
      referee_by = #{refereeBy,jdbcType=INTEGER},
      reject_info = #{rejectInfo,jdbcType=VARCHAR},
      idcard_pic_back = #{idcardPicBack,jdbcType=VARCHAR}
    where partner_id = #{partnerId,jdbcType=INTEGER}
  </update>
</mapper>